

#charImage {
    height: 400px;
}

p {
    font-weight: bold;
}

#lore {
    font-weight: normal;
}

#role {
    font-weight: normal;
}

#ability1 {
    font-weight: normal;
}

#ability2 {
    font-weight: normal;
}

#ability3 {
    font-weight: normal;
}

#ultimate {
    font-weight: normal;
}