/* .flex-container {
    display: flex;
    flex-wrap: flex;
} */

.title {
    height: 50px;
}

.name {
    height: 50px;
}

.background {
    height: 50px;
    position:relative;
}

.role {
    height: 50px;
    position: relative;
}

.abilities {
    height: 175px;
    position: relative;
}

h1 {
    color: red;
    text-align: center;
    font-family: Helvetica;
}

input {
    color: red;
    outline-color: white;
    border-color: white;
    font-weight: bold;
}

#charImage {
    height: 400px;
}

h3 {
    color: red;
}

p {
    font-weight: bold;
    color: red;
}

#name {
    font-weight: normal;
    color: white;
}

#lore {
    font-weight: normal;
    color: white;
}

#role {
    font-weight: normal;
    color: white;
}

#ability1 {
    font-weight: normal;
    color: white;
}

#ability2 {
    font-weight: normal;
    color: white;
}

#grenade {
    font-weight: normal;
    color: white;
}

#ultimate {
    font-weight: normal;
    color: white;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

